$popUp-form-color: #1C242B;
$popUp-form-text-color: #D3DBE0;
$popUp-form-labels-color: #737A85;
$popUp-form-input-BGcolor: #354149;
$popUp-form-btn-BGcolor: #40ACAD;
$popUp-form-links-color: #40ACAD;
$error-color: #F93636;
$hover-color: #4ACBCC;